/* ================== RESET ================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ================== BODY ================== */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}

/* ================== NAVBAR ================== */
.header {
  padding: 20px 80px;
  background-color: #ffffff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #111;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 14px;
}

/* ================== LOGO ================== */

.logo-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-circle {
  width: 42px;
  height: 42px;
  border-radius: 50%;

  background-color: #111;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  font-weight: 600;
}

.logo-text {
  font-size: 20px;
  font-weight: 600;
  color: #111;
  letter-spacing: 0.5px;
}


/* Navbar buttons */
.nav-links a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;

  padding: 8px 18px;
  border-radius: 999px;

  background-color: #111;
  color: #ffffff !important;

  display: inline-block;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.nav-links a:hover {
  background-color: #000;
  transform: translateY(-2px);
}

/* ================== HERO SECTION ================== */
.hero {
  min-height: 100vh;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  padding: 0 60px;

  background-image: url("../assets/images/profile.jpeg");
  background-size: 90%;              /* image slightly smaller */
  background-position: center;
  background-repeat: no-repeat;
}

/* ================== LEFT (DESIGNER) ================== */
.hero-left {
  color: #111;
  text-align: left;

  max-width: 360px;
  margin-left: 20px;
}

.hero-left h1 {
  font-size: 56px;
  margin-bottom: 12px;
}

.hero-left h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.hero-left p {
  font-size: 15px;
  line-height: 1.6;
}

/* ================== RIGHT (CODER) ================== */
.hero-right {
  color: #ffffff;
  text-align: right;

  max-width: 360px;
  margin-left: auto;
  margin-right: 20px;
}

.hero-right h1 {
  font-size: 56px;
  margin-bottom: 12px;
}

.hero-right h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.hero-right p {
  font-size: 15px;
  line-height: 1.6;
}

